@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("woff2");
}

@import "tailwindcss";

*{
    font-family: Roboto;
}

@theme{
    --font-roboto: Roboto, sans-serif;
    --color-primary: #1E90FF;
    --radius-py: 10px;
}

.container{
    max-width: 924px;
    padding: 0 12px;
}
