@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto.ttf") format("woff2");
}

@import "tailwindcss";

* {
  /* font-family: Roboto, sans-serif; */
  font-family: sans-serif;
}

:root {
  --color-primary: #314158;
}

@theme {
  --font-roboto: Roboto, sans-serif;
  --color-primary: #314158;
  --radius-py: 10px;
}

.container {
  max-width: 924px;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 800px) {
  .custom-range-picker-dropdown .ant-picker-panels {
    flex-direction: column !important;
  }
}

.custom-tab-link.active {
  position: relative;
}
.custom-tab-link.active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: var(--color-primary);
  border-radius: 2px 2px 0 0;
  animation: tabAnimation 0.25s ease-in-out forwards;
}

@keyframes tabAnimation {
  to {
    width: 100%;
  }
}
